@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

/*
//////////////////////////////////////////////
//////////////////---HEADER---//////////////////
//////////////////////////////////////////////
*/

header {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(189, 189, 189, 0.5);
  display: grid;
  grid-template-columns: minmax(2rem, 4rem) 1fr 10rem;
  padding: 1em;
  gap: 1em;
  align-items: center;
}

header h1 {
  color: #374151;
  font-size: 2rem;
  font-weight: 700;
}

img {
  width: 100%;
}

.add {
  color: #ffffff;
  background-color: #e3b261;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.6em 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add::before {
  content: "+";
}

.add:hover {
  background-color: #c59a55;
}
/*
//////////////////////////////////////////////
//////////////////---MAIN---//////////////////
//////////////////////////////////////////////
*/

main {
  background-color: #f9fafb;
  padding: 2em 1em;
  gap: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: min-content;
}

.modal-container {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
}

form {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px rgba(189, 189, 189, 0.5);
  border-radius: 10px;
  translate: 0 -50%;

  padding: 1.5em;
  width: clamp(350px, 35%, 800px);

  display: flex;
  flex-direction: column;
  gap: 1.5em;

  position: relative;
}

form h3 {
  color: #374151;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

form label {
  color: #374151;
  font-size: 1.13rem;
  font-weight: 500;
  line-height: 2;
}

form .row label::after {
  content: "*";
  color: red;
}

form input {
  line-height: 2;
  padding: 0.1em 0.4em;
  font-size: 1rem;
  border: 1px solid #374151;
  outline: none;
  border-radius: 5px;
}

form input:focus {
  border: 1.4px solid #0d9488;
}

form .btn-container {
  display: flex;
  justify-content: flex-end;
}

form button {
  color: #ffffff;
  background-color: #e3b261;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.3em 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form p {
  color: #374151;
  font-size: 1.13rem;
  font-weight: 500;
  line-height: 2;
}

form p::after {
  content: "*";
  color: red;
}

.close {
  position: absolute;
  right: 3%;
  top: 3%;
  color: #ffffff;
  background-color: #0d9488;
  border-radius: 99px;
  aspect-ratio: 1;
  width: 1.5em;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 0 3px 1px rgba(189, 189, 189, 0.5);
  border-radius: 10px;
  padding: 1.5em 1em;
  text-align: center;

  position: relative;
}

.card::before {
  content: "";
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  background-color: #e3b261;
}

.card h2 {
  color: #374151;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2;
}

.card h3 {
  color: #6b7280;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
}

.card p {
  color: #6b7280;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.hidden {
  display: none;
}

.interact {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.status {
  color: #ffffff;
  background-color: #0d9488;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6em 1.1em;
  border: none;
  border-radius: 5px;
}

.undone {
  color: #ffffff;
  background-color: #db3a42;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6em 1.1em;
  border: none;
  border-radius: 5px;
}

.remove {
  color: #ffffff;
  background-color: #e3b261;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6em 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
